#Login{
        text-align:center;
}

/*Creates space between reset and exit button-*/
#exit{
        margin-left:10px;
}

#ExitLink{
        /*Removes the hyperlink from exit button*/
        text-decoration:none;
        color:black;
}
