@media print{
        
/*Tittle of the page*/        
#PageTitle{
        display:none;
}  

/*Select Camp*/      
#label-1{
        display:none;
}
#SelectCamp{
        display:none;
}

/*Select survey*/
#label-2{
        display:none;
}
#SelectSurvey{
        display:none;
}

/*Select survey type*/
#label-3{
        display:none;
}
#SurveyType{
        display:none;
}

/*Select query type*/
#label-4{
        display:none;
}
#QueryType{
        display:none;
}

/*Select result type*/
#label-5{
        display:none;
}
#ResultType{
        display:none;
}

/*Demographic information begins here*/
#Demographics{
        display:none;
}

/*Select student gender*/
#GenderDiv{
        display:none;
}

/*Select student grade level*/
#GradeDiv{
        display:none;
}

/*Selecting parent education level*/
#ParentEducationDiv{
        display:none;
}

/*Selecting student race*/
#RaceDiv{
        display:none;
}

/*Selecting student ethnicity*/
#EthnicityDiv{
        display:none;
}

/*Selecting free reduced lunch*/
#LunchDiv{
        display:none;
}

/*Queries location where they appear*/
#QueryText{
        display:none;
}
#query{
        display:none;
}

/*Buttons for the form*/
#Buttons{
        display:none;
}

/*Where the query results are displayed*/
#QueryResultsText{
        display:none;
}
button{
        display:none;
}
#QueryResult{
        background-color: white;
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        margin: 0;
        padding: 15px;
        font-size: 14px;
        line-height: 18px; 
       
}
input{
        border:0;
}


/*The elements used for verifying results*/
#dummy{
        display:none;
}
#reportJSON{
        display:none;
}
#currentChoice{
        display:none;
}

}
